.para{
    margin-left: 20%;
    position: relative;
    margin-left: 8%;
    padding-top: 14% ;

}
   
form{

    background-color: white;
    position: absolute;
    left: 170px;
    width: 320px;
    height: 270px;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px 5px 0px 5px;
    border-radius: 5px;
    margin-top: -200px;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.2);

}

input{

    padding: 3px;
    margin-left: 3% ;
    margin-top: 2%;
    width: 93%;

}

.blue{

    background-color: #1877f2;
    color: white;
    border: none;
    width: 93%;
    margin-left: 3%;
    margin-top: 2%;
    padding: 8px;
    font-size: 18;
    border-radius: 5px;

}

.green{

    background-color: #42b72a;
    color: white;
    border: none;
    width: 68%;
    margin-left: 50px;
    padding: 12px;
    font-size: 15;
    border-radius: 15;

}

.last{

    font-size: 15px;
    margin-left: 630px;
    margin-top: 120px;
    font-family: 'Times New Roman', Times, serif;

}