.java{

    padding: 80px;

    border: 2px solid black;

    margin: 70px;

    background-color: violet;

}

.html{

    padding: 70px;

    border: 3px dotted blue;

    margin: 80px;

    background-color: burlywood;

}